spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:booking-service;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: booking-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8082

app:
  jwt:
    secret: very-strong-shared-secret-key-123456789
    expiration: 3600000