spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: hotel-service
              uri: lb://hotel-service
              predicates:
                - Path=/api/hotels/**
              filters:
                - StripPrefix=2
            - id: booking-service
              uri: lb://booking-service
              predicates:
                - Path=/api/bookings/**
              filters:
                - StripPrefix=2

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8080
